package user

import (
    models "youwe.com/go-web-accelerator/internal/user/models"
    layout "youwe.com/go-web-accelerator/internal/cms/components/layout"
    components "youwe.com/go-web-accelerator/internal/cms/components"
)

templ Show(user models.User) {
    @layout.Base() {
        <h1>Hello {user.Email} from the user page.</h1>
        @components.Input(components.InputProps{
            Type: "email",
            Name: "email",
            Label: "Email",
        })
    }
} 