package user

import (
    "youwe.com/go-web-accelerator/components"
    layout "youwe.com/go-web-accelerator/components/layout"
    "youwe.com/go-web-accelerator/models"
)

templ Show(user models.User) {
    @layout.Base() {
        <h1>Hello {user.Email} from the user page.</h1>
        @components.Input(components.InputProps{
            Type: "email",
            Name: "email",
            Label: "Email",
        })
    }
} 